*{
    margin: 0;
    padding: 0;
}



header{
    background-color:rgb(112, 115, 112);
   height: 180px;

    grid-area: hd;
}

main{
    background-color:#b0b7c0;
  height: 800px;

   grid-area: mn;
}

.logo{
    display: flex;
    margin: auto;
    width: 30%;
    padding: 50px;
    
}

#btnHeader{
    background-color:rgb(176, 183, 192);
    position: absolute;
    height: 50px;
    width: 150px;
    text-align: center;
    padding-top: 20px;
    color: white;
    font-size: 26px;
}

.homeButton{
    top: 6%;
    left: 6%;
}

.aboutButton{
    top: 6%;
    left: 70%;
}

.contactButton{
    top: 6%;
    left: 85%;
}

article{
    width: 500px;
    margin-left:40%;
    padding: 50px;
}

.aboutUs{
font-size: 46px;
}

.article2{
position: absolute;
top: 28%;
margin-left:12%;
width: 400px;
padding: 0px;
}

.article3{
    position: absolute;
    top: 28%;
    margin-left:62%;
    width: 400px;
    padding: 0px;
    }

.shayan{
font-size: 40px;
margin: 20px;
}

.alain{
    font-size:40px;
    margin: 20px;
}

.text{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
}

.imgbox1{
border: 1px solid black;
position: absolute;
top: 60%;
left: 20%;
width: 450px;
height: 350px;
}


.imgbox2{
    border: 1px solid black;
    position: absolute;
    top: 60%;
    left: 60%;
    width: 450px;
    height: 350px;
    }

 .foto1{
    width: 100%;
    height: 100%;
 }   

 .foto2{
    width: 100%;
    height: 100%;
 }