* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
        "hd hd hd hd"
        "hd hd hd hd"
        "mn mn mn mn"
        "mn mn mn mn"
        "mn mn mn mn"
        "mn mn mn mn";
}

header {
    height: 10vh;
    background-color: #525b76;
    grid-area: hd;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

header .lone-link {
    grid-area: 1/1/2/2;
    justify-self: left;
    align-self: center;
}

header .lone-link li {
    list-style-type: none;
    display: inline-block;
}

header .lone-link li a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: bold;
    background-color: #A9ADBB;
    margin-left: 15px;
    border-radius: 10px;
    padding: 12px 25px;
    transition: 1s;
}

header .lone-link li a:hover {
    background-color: transparent;
    text-decoration: underline;
}

header img {
    grid-area: 1/2/2/3;
    justify-self: center;
    align-self: center;
}

header nav {
    grid-area: 1/3/2/4;
    justify-self: center;
    align-self: center;
}

header nav ul li {
    list-style-type: none;
    display: inline-block;
    margin-inline: 30px;
}

header nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: bold;
    background-color: #A9ADBB;
    border-radius: 10px;
    padding: 12px 25px;
    transition: 1s;
}

header nav ul li a:hover {
    background-color: transparent;
    text-decoration: underline;
}

main {
    grid-area: mn;
}

.shoes-displayer {
    margin: 0 auto;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

img[alt="shoes"] {
    height: 450px;
    width: 450px;
    object-fit: cover;
    border-radius: 5px;
}

.card h3:nth-child(2) {
    width: 270px;
}

.card h3:nth-child(3) {
    width: 200px;
}

.card h3:nth-child(4) {
    width: 130px;
    margin-bottom: 20px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 10px 48px;
    background-color: black;
    border-radius: 10px;
    font-weight: bold;
}

h3 {
    text-align: center;
    padding-left: 10px;
    margin-top: 10px;
    height: 30px;
    color: white;
    background-color: black;
    border-radius: 10px;
}

header .add-link,
header .back-added-link {
    justify-self: center;
    align-self: center;
}

header i {
    list-style-type: none;
    color: white;
    font-size: 40px;
    background-color: transparent;
    margin-inline: 15px;
}

@media screen and (max-width: 898px) {
    body {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-areas:
            "hd"
            "mn";
        background-color: beige;
    }

    header {
        background-color: #525b76;
        grid-area: hd;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    header img {
        grid-area: 1/2/3/2;
        justify-self: center;
        align-items: center;
    }


    header .lone-link,
    header nav {
        display: none;
    }

    main {
        grid-area: mn;
        background-color: beige;
    }

}

@media screen and (min-width: 898px) and (max-width: 1350px) {
    body {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-areas:
            "hd"
            "hd"
            "mn"
            "mn"
            "mn";
        background-color: beige;
    }

    header {
        background-color: #525b76;
        grid-area: hd;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    header nav,
    .lone-link {
        display: none;
    }

    header img {
        grid-area: 1/2/2/3;
        justify-self: center;
        align-self: center;
    }

    header .add-link {
        grid-area: 1/3/2/4;
        justify-self: center;
        align-self: center;
    }

    header nav ul li a {
        text-decoration: none;
        color: white;
        font-size: 15px;
        font-weight: bold;
        background-color: #A9ADBB;
        border-radius: 10px;
        padding: 10px 11px;
        transition: 1s;
    }

    header .back-added-link {
        grid-area: 1/1/2/2;
        justify-self: left;
        align-self: center;
    }

    header .lone-link li a {
        font-size: 20px;
        padding: 10px 15px;
    }

    header nav ul li {
        list-style-type: none;
        display: inline-block;
    }

    main {
        grid-area: mn;
        background-color: beige;
    }

}

@media screen and (min-width: 1350px) and (max-width: 1440px) {
    body {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 1.5rem;
        grid-template-areas:
            "hd"
            "hd"
            "mn"
            "mn"
            "mn";
        background-color: #B0BC70;
    }

    header {
        background-color: #525b76;
        grid-area: hd;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    header .add-link,
    header .back-added-link {
        display: none;
    }

    header img {
        grid-area: 1/2/2/3;
        justify-self: center;
        align-self: center;
    }

    header nav {
        grid-area: 1/3/2/4;
        justify-self: center;
        align-self: center;
    }

    header nav ul li a {
        text-decoration: none;
        color: white;
        font-size: 20px;
        font-weight: bold;
        background-color: #A9ADBB;
        border-radius: 10px;
        padding: 12px 25px;
        transition: 1s;
    }

    header .lone-link {
        grid-area: 1/1/2/2;
        justify-self: left;
        align-self: center;
    }

    header .lone-link li a {
        font-size: 20px;
        padding: 12px 25px;
    }

    header nav ul li {
        list-style-type: none;
        display: inline-block;
        margin-inline: 0px;
    }

    main {
        grid-area: mn;
        background-color: #B0BC70;
    }

}

@media screen and (min-width: 1440px) {
    body {
        height: 100vh;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 1.5rem;
        grid-template-areas:
            "hd"
            "hd"
            "mn"
            "mn"
            "mn";
        background-color: #B0BC70;
    }

    header {
        background-color: #525b76;
        grid-area: hd;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    header .add-link,
    header .back-added-link {
        display: none;
    }

    header img {
        grid-area: 1/2/2/3;
        justify-self: center;
        align-self: center;
    }

    header nav {
        grid-area: 1/3/2/4;
        justify-self: center;
        align-self: center;
    }

    header nav ul li a {
        text-decoration: none;
        color: white;
        font-size: 20px;
        font-weight: bold;
        background-color: #A9ADBB;
        border-radius: 10px;
        padding: 12px 25px;
        transition: 1s;
    }

    header .lone-link {
        grid-area: 1/1/2/2;
        justify-self: left;
        align-self: center;
    }

    header .lone-link li a {
        font-size: 20px;
        padding: 12px 25px;
    }

    header nav ul li {
        list-style-type: none;
        display: inline-block;
        margin-inline: 30px;
    }

    main {
        grid-area: mn;
        background-color: #B0BC70;
    }

}