* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* border: 1px solid; */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
        "hd hd hd hd"
        "hd hd hd hd"
        "mn mn mn mn"
        "mn mn mn mn"
        "mn mn mn mn"
        "mn mn mn mn";
}

header {
    height: 10vh;
    background-color: #525b76;
    grid-area: hd;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

header .lone-link {
    grid-area: 1/1/2/2;
    justify-self: left;
    align-self: center;
}

header .lone-link li {
    list-style-type: none;
}

header .lone-link li a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: bold;
    background-color: #A9ADBB;
    margin-left: 15px;
    border-radius: 10px;
    padding: 12px 25px;
    transition: 1s;
}

header .lone-link li a:hover {
    background-color: transparent;
    text-decoration: underline;
}

header img {
    grid-area: 1/2/2/3;
    justify-self: center;
    align-self: center;
}

header nav {
    grid-area: 1/3/2/4;
    justify-self: center;
    align-self: center;
}

header nav ul li {
    list-style-type: none;
    display: inline-block;
    margin-inline: 30px;
}

header nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: bold;
    background-color: #A9ADBB;
    border-radius: 10px;
    padding: 12px 25px;
    transition: 1s;
}

header nav ul li a:hover {
    background-color: transparent;
    text-decoration: underline;
}

main {
    grid-area: mn;
}

img[alt="Lo"] {
    height: 450px;
    width: 450px;
    object-fit: cover;
    border-radius: 5px;
}

.pay-holder {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1.5rem;
}

.img {
    grid-area: 1/1/2/2;
}

.information-box {
    grid-area: 1/2/2/3;
    display: grid;
}

.object-description {
    text-align: center;
    color: white;
    background-color: black;
    width: 240px;
    border-radius: 5px;
    height: 200px;
}

.pay-holder .information-box h3 {
    text-align: center;
    color: white;
    background-color: black;
    width: 240px;
    border-radius: 5px;
    height: 30px;
}

.pay-holder .user-inputs .object-price {
    text-align: center;
    color: white;
    background-color: black;
    border-radius: 10px;
    padding: 10px;
}

.pay-holder .information-box .object-name {
    font-size: 20px;
}


.size-container {
    padding-left: 5px;
}

.size-container label {
    background-color: black;
    color: white;
    margin: 1px;
    border-radius: 5px;
    padding: 1px 3px;
    font-weight: bold;
    height: 9px;
}

.user-inputs {
    grid-area: 1/3/2/4;
    display: grid;
    grid-gap: 5px;
}

.user-inputs .title {
    font-size: 25px;
}

.user-inputs input {
    width: 99%;
}


header .add-link,
header .back-added-link {
    justify-self: center;
    align-self: center;
}

header i {
    list-style-type: none;
    color: white;
    font-size: 40px;
    background-color: transparent;
    margin-inline: 15px;
}

.user-inputs button {
    padding: 12px;
    font-size: 16px;
    border: 2px solid grey;
    border-radius: 10px;
    margin-bottom: 20px;
}

.border1 {
    border:2px solid red;
}

@media screen and (max-width: 898px) {
    body {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-areas:
            "hd"
            "mn";
        background-color: beige;
    }

    header {
        background-color: #525b76;
        grid-area: hd;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    header img {
        grid-area: 1/1/2/2;
        justify-self: center;
        align-items: center;
    }


    header .lone-link,
    header nav,
    .back-added-link {
        display: none;
    }

    main {
        grid-area: mn;
    }

    .pay-holder {
        margin: 0px auto;
        width: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .information-box h3 {
        margin-top: 1px;
        margin-bottom: 2px;
    }

    .size-container {
        margin-top: 1px;
        margin-bottom: 2px;
    }

    .user-inputs input {
        padding: 12px 25px;
        outline: none;
        border: 2px solid grey;
        border-radius: 10px;
    }

    .user-inputs input:focus {
        border-color: black;
    }
}

@media screen and (min-width: 898px) and (max-width:1350px) {
    body {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-areas:
            "hd"
            "hd"
            "mn"
            "mn"
            "mn";
        background-color: beige;
    }

    header {
        background-color: #525b76;
        grid-area: hd;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    header nav,
    .lone-link {
        display: none;
    }

    header img {
        grid-area: 1/2/2/3;
        justify-self: center;
        align-self: center;
    }

    header .add-link {
        grid-area: 1/3/2/4;
        justify-self: center;
        align-self: center;
    }

    header nav ul li a {
        text-decoration: none;
        color: white;
        font-size: 15px;
        font-weight: bold;
        background-color: #A9ADBB;
        border-radius: 10px;
        padding: 10px 11px;
        transition: 1s;
    }

    header .back-added-link {
        grid-area: 1/1/2/2;
        justify-self: left;
        align-self: center;
    }

    header .lone-link li a {
        font-size: 20px;
        padding: 10px 15px;
    }

    header nav ul li {
        list-style-type: none;
        display: inline-block;
    }

    main {
        grid-area: mn;
        background-color: beige;
    }

    .pay-holder {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
    }

    .information-box h3 {
        margin-top: 1px;
        margin-bottom: 2px;
    }

    .size-container {
        margin-top: 1px;
        margin-bottom: 2px;
    }

    .user-inputs input {
        padding: 12px 25px;
        outline: none;
        border: 2px solid grey;
        border-radius: 10px;
    }

    .user-inputs input:focus {
        border-color: goldenrod;
    }

}

@media screen and (min-width: 1350px) and (max-width: 1440px) {
    body {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 1.5rem;
        grid-template-areas:
            "hd"
            "hd"
            "mn"
            "mn"
            "mn";
        background-color: #B0BC70;
    }

    header {
        background-color: #525b76;
        grid-area: hd;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    header .add-link,
    header .back-added-link {
        display: none;
    }

    header img {
        grid-area: 1/2/2/3;
        justify-self: center;
        align-self: center;
    }

    header nav {
        grid-area: 1/3/2/4;
        justify-self: center;
        align-self: center;
    }

    header nav ul li a {
        text-decoration: none;
        color: white;
        font-size: 20px;
        font-weight: bold;
        background-color: #A9ADBB;
        border-radius: 10px;
        padding: 12px 25px;
        transition: 1s;
    }

    header .lone-link {
        grid-area: 1/1/2/2;
        justify-self: left;
        align-self: center;
        display: flex;
    }

    header .lone-link li a {
        font-size: 20px;
        padding: 12px 25px;
    }

    header nav ul li {
        list-style-type: none;
        display: inline-block;
        margin-inline: 0px;
    }

    main {
        grid-area: mn;
        background-color: #B0BC70;
    }

    .pay-holder {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
    }

    .information-box h3 {
        margin-top: 1px;
        margin-bottom: 2px;
    }

    .size-container {
        margin-top: 1px;
        margin-bottom: 2px;
    }

    .user-inputs input {
        height: 50px;
        width: 300px;
        outline: none;
        padding-left: 12px;
        border: 2px solid grey;
        border-radius: 10px;
    }

    .user-inputs input:focus {
        border-color: dodgerblue;
    }

}

@media screen and (min-width: 1440px) {
    body {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 1.5rem;
        grid-template-areas:
            "hd"
            "hd"
            "mn"
            "mn"
            "mn";
        background-color: #B0BC70;
    }

    header {
        background-color: #525b76;
        grid-area: hd;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    header .add-link, header .back-added-link {
        display: none;
    }

    header img {
        grid-area: 1/2/2/3;
        justify-self: center;
        align-self: center;
    }

    header nav {
        grid-area: 1/3/2/4;
        justify-self: center;
        align-self: center;
    }

    header nav ul li a {
        text-decoration: none;
        color: white;
        font-size: 20px;
        font-weight: bold;
        background-color: #A9ADBB;
        border-radius: 10px;
        padding: 12px 25px;
        transition: 1s;
    }

    header .lone-link {
        grid-area: 1/1/2/2;
        justify-self: left;
        align-self: center;
        display: flex;
    }

    header .lone-link li a {
        font-size: 20px;
        padding: 12px 25px;
    }

    header nav ul li {
        list-style-type: none;
        display: inline-block;
        margin-inline: 0px;
    }

    main {
        grid-area: mn;
        background-color: #B0BC70;
    }

    .pay-holder {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
    }

    .pay-holder .information-box h3, .pay-holder .information-box h4{
        margin-top: 1px;
        margin-bottom: 2px;
        width: 400px;
    }

    .size-container {
        margin-top: 1px;
        margin-bottom: 2px;
    }

    .user-inputs input {
        padding: 12px;
        outline: none;
        border: 2px solid grey;
        border-radius: 10px;
        width: 400px;
    }

    .user-inputs input:focus {
        border-color: goldenrod;
    }

}