* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* border: 1px solid; */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
        "hd hd hd hd"
        "hd hd hd hd"
        "mn mn mn mn"
        "mn mn mn mn"
        "mn mn mn mn"
        "mn mn mn mn";
}

header {
    height: 10vh;
    background-color: #525b76;
    grid-area: hd;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

header .lone-link {
    grid-area: 1/1/2/2;
    justify-self: left;
    align-self: center;
}

header .lone-link li {
    list-style-type: none;
}

header .lone-link li a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: bold;
    background-color: #A9ADBB;
    margin-left: 15px;
    border-radius: 10px;
    padding: 12px 25px;
    transition: 1s;
}

header .lone-link li a:hover {
    background-color: transparent;
    text-decoration: underline;
}

header img {
    grid-area: 1/2/2/3;
    justify-self: center;
    align-self: center;
}

header nav {
    grid-area: 1/3/2/4;
    justify-self: center;
    align-self: center;
}

header nav ul li {
    list-style-type: none;
    display: inline-block;
    margin-inline: 30px;
}

header nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: bold;
    background-color: #A9ADBB;
    border-radius: 10px;
    padding: 12px 25px;
    transition: 1s;
}

header nav ul li a:hover {
    background-color: transparent;
    text-decoration: underline;
}

main {
    grid-area: mn;
}

.down-holder {
    display: grid;
    background-color: beige;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 700px;
    grid-template-areas:
        "fb sb tbr"
        "fb sb tbr";
    justify-items: center;
}

img[alt="shoe logo"] {
    height: 450px;
    width: 450px;
    object-fit: contain;
    background-color: beige;
}

.first-brand {
    grid-area: fb;
}

.first-brand h4 {
    padding-top: 20px;
    text-align: center;
}

.first-brand h4 a {
    text-decoration: none;
    position: relative;
    top: 100px;
    left: 0px;
    color: white;
    background-color: black;
    padding: 12px 25px;
    border-radius: 5px;
    transition: 1s;
}

.first-brand h4 a:hover {
    color: black;
    background-color: white;
    text-decoration: underline;
}

.second-brand {
    grid-area: sb;
}

.second-brand h4 {
    padding-top: 20px;
    text-align: center;
}

.second-brand a {
    text-decoration: none;
    position: relative;
    top: 100px;
    left: 0px;
    color: white;
    background-color: black;
    padding: 12px 25px;
    border-radius: 5px;
    transition: 1s;
}

.second-brand h4 a:hover {
    color: black;
    background-color: white;
    text-decoration: underline;
}

.third-brand {
    grid-area: tbr;
}

.third-brand h4 {
    padding-top: 20px;
    text-align: center;
}

.third-brand a {
    text-decoration: none;
    text-align: center;
    position: relative;
    top: 100px;
    left: 0px;
    color: white;
    background-color: black;
    padding: 12px 25px;
    border-radius: 5px;
    transition: 1s;
}

.third-brand h4 a:hover {
    color: black;
    background-color: white;
    text-decoration: underline;
}

header .add-link {
    justify-self: center;
    align-self: center;
}

header .add-link i {
    list-style-type: none;
    color: white;
    font-size: 40px;
    background-color: transparent;
}

@media screen and (max-width: 898px) {
    body {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-areas:
            "hd"
            "mn";
        background-color: beige;
    }

    header {
        background-color: #525b76;
        grid-area: hd;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    header img {
        grid-area: 1/1/2/2;
        justify-self: center;
        align-items: center;
    }


    header .lone-link,
    header nav {
        display: none;
    }

    main {
        grid-area: mn;
    }

    .down-holder {
        margin: 0px auto;
        width: auto;
        display: grid;
        background-color: beige;
        grid-template-columns: 1fr;
        grid-template-areas:
            "fb"
            "sb"
            "tbr";
        justify-items: center;
        align-items: self-start;
    }

    .first-brand {
        grid-area: fb;
    }

    .second-brand {
        grid-area: sb;
    }

    .third-brand {
        grid-area: tbr;
    }

    img[alt="shoe logo"] {
        object-fit: contain;
        background-color: beige;
    }

    .first-brand h4 a,
    .second-brand h4 a,
    .third-brand h4 a {
        text-decoration: none;
        position: relative;
        top: 0;
        left: 0;
        color: white;
        background-color: black;
        padding: 5px 10px;
        border-radius: 5px;
        transition: 1s;
    }

    .first-brand h4,
    .second-brand h4,
    .third-brand h4 {
        padding-bottom: 20px;
    }

    .third-brand h4 a {
        margin-bottom: 20px;
    }
}

@media screen and (min-width:898px) and (max-width: 1023px) {
    body {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-areas:
            "hd"
            "hd"
            "mn"
            "mn"
            "mn";
        background-color: beige;
    }

    header {
        background-color: #525b76;
        grid-area: hd;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    header nav {
        display: none;
    }

    header img {
        grid-area: 1/2/2/3;
        justify-self: center;
        align-self: center;
    }

    header .add-link {
        grid-area: 1/3/2/4;
        justify-self: center;
        align-self: center;
    }

    header nav ul li a {
        text-decoration: none;
        color: white;
        font-size: 15px;
        font-weight: bold;
        background-color: #A9ADBB;
        border-radius: 10px;
        padding: 10px 11px;
        transition: 1s;
    }

    header .lone-link {
        grid-area: 1/1/2/2;
        justify-self: left;
        align-self: center;
    }

    header .lone-link li a {
        font-size: 20px;
        padding: 10px 15px;
    }

    header nav ul li {
        list-style-type: none;
        display: inline-block;
    }

    main {
        grid-area: mn;
        background-color: beige;
    }

    .down-holder {
        width: auto;
        background-color: beige;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-areas:
            "fb fb fb sb sb sb"
            " .  . tbr tbr .  .";
        justify-items: center;
        align-items: self-start;
    }

    .first-brand {
        grid-area: fb;
    }

    .second-brand {
        grid-area: sb;
    }

    .third-brand {
        grid-area: tbr;
    }

    img[alt="shoe logo"] {
        object-fit: contain;
        background-color: beige;
    }

    .first-brand h4 a,
    .second-brand h4 a,
    .third-brand h4 a {
        text-decoration: none;
        position: relative;
        top: 0;
        left: 0;
        color: white;
        background-color: black;
        padding: 12px 25px;
        border-radius: 5px;
        transition: 1s;
    }

    .first-brand h4,
    .second-brand h4,
    .third-brand h4 {
        padding-bottom: 20px;
    }

    .third-brand h4 a {
        margin-bottom: 80px;
    }
}

@media screen and (min-width:1023px) and (max-width: 1440px) {
    body {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 1.5rem;
        grid-template-areas:
            "hd"
            "hd"
            "mn"
            "mn"
            "mn";
        background-color: beige;
    }

    header {
        background-color: #525b76;
        grid-area: hd;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    header .add-link {
        display: none;
    }

    header img {
        grid-area: 1/2/2/3;
        justify-self: center;
        align-self: center;
    }

    header nav {
        grid-area: 1/3/2/4;
        justify-self: center;
        align-self: center;
    }

    header nav ul li a {
        text-decoration: none;
        color: white;
        font-size: 20px;
        font-weight: bold;
        background-color: #A9ADBB;
        border-radius: 10px;
        padding: 12px 25px;
        transition: 1s;
    }

    header .lone-link {
        grid-area: 1/1/2/2;
        justify-self: left;
        align-self: center;
    }

    header .lone-link li a {
        font-size: 20px;
        padding: 12px 25px;
    }

    header nav ul li {
        list-style-type: none;
        display: inline-block;
    }

    main {
        grid-area: mn;
        background-color: beige;
        padding-top: 100px;
    }
}

@media screen and (min-width: 1440px) {
    body {
        height: 100vh;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-areas:
            "hd"
            "hd"
            "mn"
            "mn"
            "mn";
        background-color: beige;
    }

    header {
        background-color: #525b76;
        grid-area: hd;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    header .add-link {
        display: none;
    }

    header img {
        grid-area: 1/2/2/3;
        justify-self: center;
        align-self: center;
    }

    header nav {
        grid-area: 1/3/2/4;
        justify-self: center;
        align-self: center;
    }

    header nav ul li a {
        text-decoration: none;
        color: white;
        font-size: 20px;
        font-weight: bold;
        background-color: #A9ADBB;
        border-radius: 10px;
        padding: 12px 25px;
        transition: 1s;
    }

    header .lone-link {
        grid-area: 1/1/2/2;
        justify-self: left;
        align-self: center;
    }

    header .lone-link li a {
        font-size: 20px;
        padding: 12px 25px;
    }

    header nav ul li {
        list-style-type: none;
        display: inline-block;
    }

    main {
        grid-area: mn;
        background-color: beige;
        padding-top: 0px;
    }
    .first-brand h4 a,
    .second-brand h4 a,
    .third-brand h4 a {
        text-decoration: none;
        position: relative;
        top: 100px;
        left: 0;
        color: white;
        background-color: black;
        padding: 12px 25px;
        border-radius: 5px;
        transition: 1s;
    }

    .first-brand h4,
    .second-brand h4,
    .third-brand h4 {
        padding-bottom: 25px;
    }
}